main{
    margin:5rem auto;
}
.formulario{
    max-height: 40rem;
    overflow: hidden;
    flex-wrap: wrap;
    width: 70%;
    margin: 2.5rem auto;
    border: 5px solid var(--blackish);
    
}
.formulario h1{
    width: 70%;
    margin: 2.5rem auto;
    font-weight: 700;
    font-size: 3rem;
}
.formulario div{
    width: 80%;
    margin: 2.5rem auto;
}
label{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: .5rem;
}
input{
    border: 1px solid var(--blackish);
    background-color:  #E6E6E6;
    
}
textarea {
    resize: none;
    background-color:  #E6E6E6;
    border: 1px solid var(--blackish);
}
.dados-lobinho {
    display: flex;
    width: 90%;
    height: 2rem;
}

.nome-adicionar {
    display: flex;
    flex-direction: column;
    width: 75%;
}
.nome-adicionar input{
    width: 95%;
   
}
.idade-adicionar{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    width: 25%;
   
}
.idade-adicionar input{
    width: 100%;
   
}

.link-foto input{
    width: 100%;
}
.descricao-adicionar{
    display: flex;
    flex-direction: column;

}
.descricao-adicionar textarea{
    width: 100%;
    height: 10rem;
   
}
.botao-adicionar{
    margin: 0 auto;
    width: 15%;
    display: block;
    height: 3rem;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: var(--darkblue);
    border: none;
    color:var(--white);
}
.botao-adicionar:hover{
    background-color: var(--white);
    color: var(--darkblue);
    border: 1px solid var(--darkblue);
}