main {
    width: 65%;
    margin: 5rem auto;
}
.perfil-e-dados-lobinho {
    display: flex;
    width: 90%;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
}
.nome-e-id {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
 
    
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}
.perfil-lobinho {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    
}
input{
    border: none;
    margin-top: 1rem;
    background-color: #fafafa;
    border-bottom: 1px solid var(--blackish);
}

.nome-idade {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 2rem;
}
label{
    font-size:  1.5rem;
}
.nome  {
    width: 80%;
}
.nome input {
    width: 100%;
}
.idade {
    width: 15%;

}
.idade input {
    width:100%;
   
}
.email {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}
.email input{
    width: 90%;
}
.button-adotar{
width: 90%;
   display: flex;
   justify-content: center;
}
.button-adotar button{
    width: 8rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: var(--darkblue);
    border: none;
    color: var(--white);
  
}
.button-adotar button:hover{
   
    background-color: var(--white);
    color: var(--darkblue);
    border: 1px solid var(--darkblue);
  
}