
/***
 *    '##::::'##:'########::::'###::::'########::'########:'########::
 *     ##:::: ##: ##.....::::'## ##::: ##.... ##: ##.....:: ##.... ##:
 *     ##:::: ##: ##::::::::'##:. ##:: ##:::: ##: ##::::::: ##:::: ##:
 *     #########: ######:::'##:::. ##: ##:::: ##: ######::: ########::
 *     ##.... ##: ##...:::: #########: ##:::: ##: ##...:::: ##.. ##:::
 *     ##:::: ##: ##::::::: ##.... ##: ##:::: ##: ##::::::: ##::. ##::
 *     ##:::: ##: ########: ##:::: ##: ########:: ########: ##:::. ##:
 *    ..:::::..::........::..:::::..::........:::........::..:::::..::
 */
 /*TODO alterar o nome dessa classe para "centralizando-titulo" */
.centralizando-lobinho{
    

    margin: 0 auto;
    text-align: center;
    padding: 10rem 10px;
    padding-top: 10rem;
    padding-bottom: 10rem;
   
}
.adote-lobinho {
   background-image: url("../assets/background-header.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin: 0 auto;
   display: flex;
   flex-direction:column;
   align-items: center;
  
}

.adote-lobinho h1{
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 1rem;
    word-wrap: break-word;
}

 .adote-lobinho h1::after{
    content: "  ";
    width: 3rem;
    height: 5px;
    display: block;
    margin: 0 auto;
    background-color: var(--white);
    
}

.adote-lobinho h1:hover::after{
    transition-duration: 700ms;
    transform-style: ease;
    transform: scaleX(8.0); 
} 

.adote-lobinho span{
    background-color: var(--white);
    height: 1rem;
    
}
.adote-lobinho p{
    font-size: 2rem;
    font-weight: 300;
    
    max-width: 40ch;
    
}
.adote-lobinho h1,
.adote-lobinho p {
    
    color: var(--white);
}

/***
 *    '##::::'##::::'###::::'####:'##::: ##:
 *     ###::'###:::'## ##:::. ##:: ###:: ##:
 *     ####'####::'##:. ##::: ##:: ####: ##:
 *     ## ### ##:'##:::. ##:: ##:: ## ## ##:
 *     ##. #: ##: #########:: ##:: ##. ####:
 *     ##:.:: ##: ##.... ##:: ##:: ##:. ###:
 *     ##:::: ##: ##:::: ##:'####: ##::. ##:
 *    ..:::::..::..:::::..::....::..::::..::
 */

 /* inicio da seção "sobre" */

/***
 *      #####  ####### ######  ######  ####### 
 *     #     # #     # #     # #     # #       
 *     #       #     # #     # #     # #       
 *      #####  #     # ######  ######  #####   
 *           # #     # #     # #   #   #       
 *     #     # #     # #     # #    #  #       
 *      #####  ####### ######  #     # ####### 
 *                                             
 */

.sobre {
    background-color: var(--darkblue);
    
}
.centralizando-sobre{
    padding: 10rem 10px;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobre h2 {
    color: var(--yellow-botton);
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.sobre p {
    color: var(--white);
    font-size: 1.5rem;
    min-height: 10rem;
    line-height: 1.6;
}

/***
 *                                        
 *     #    #   ##   #       ####  #####  
 *     #    #  #  #  #      #    # #    # 
 *     #    # #    # #      #    # #    # 
 *     #    # ###### #      #    # #####  
 *      #  #  #    # #      #    # #   #  
 *       ##   #    # ######  ####  #    # 
 *                                        
 */


/* inicio da seção "valor" */
.valores{
    background-color: var(--blackish);
    padding: 5rem 0;
    
}
.centralizando-valores{

    width: 70%;
    margin: 0 auto;
    text-align: center;
  
}
.valores h2 {
    color: var(--yellow-botton);
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 3rem;

}    
.descricao-valores{
    
    
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 90%;
    justify-content: space-evenly;
    
}    

.descricao-valores  div{
    width: 12rem;
   
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 50%;
    text-align: center;
    margin-bottom: 1.5rem;
}    
.descricao-valores img{
   
    transform: scale(.75);
    padding-top: .5rem;
    background-size: contain;
    width: 10rem;
    text-align: center;
   
}    
.valores h3 {
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;

}    
.valores p {
    color: var(--white);
    font-weight: 400;
    font-size: 1.5rem;
    width: 13rem;
    text-align: center;
    margin-bottom: 1.5rem;

}    

/***
 *     #     # ####### ######  ###    #        #####  #     # ####### ######  #     # 
 *     ##   ## #       #     #  #    # #      #     # #     # #       #     #  #   #  
 *     # # # # #       #     #  #   #   #     #     # #     # #       #     #   # #   
 *     #  #  # #####   #     #  #  #     #    #     # #     # #####   ######     #    
 *     #     # #       #     #  #  #######    #   # # #     # #       #   #      #    
 *     #     # #       #     #  #  #     #    #    #  #     # #       #    #     #    
 *     #     # ####### ######  ### #     #     #### #  #####  ####### #     #    #    
 *                                                                                    
 */
@media only screen and (max-width:960)
{
    .adote-lobinho h1{
        font-size: 4rem;
    }
    .container-foto img{
    margin: 0 ;
    scale: (.2);
   
}
}