:root {
    font-family: 'Darker Grotesque', sans-serif;
    background-color: #fafafa;
    --lightblue-header:#85CDF5;
    --darkblue: #2C5680;
    --blackish: #333333;
    --yellow-botton: #DEB959;
    --green: #7AAC3A;
    --red: #DE5959;
    --white: #FFFFFF;
   
   width: 100%;
    
}
button:hover{
    cursor:pointer;
}
*:focus {
    outline: none;
}


/***
 *     #     #    #    #     #    ######     #    ######  
 *     ##    #   # #   #     #    #     #   # #   #     # 
 *     # #   #  #   #  #     #    #     #  #   #  #     # 
 *     #  #  # #     # #     #    ######  #     # ######  
 *     #   # # #######  #   #     #     # ####### #   #   
 *     #    ## #     #   # #      #     # #     # #    #  
 *     #     # #     #    #       ######  #     # #     # 
 *                                                        
 */
                                                          
header{
    position: sticky;
    top : 0px;
    z-index: 1;
}
nav {
    width: 100%;
    height: 8.125rem;
    background-color: var(--lightblue-header);
    display:  flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;  
  
    
}
header nav a{
 
   text-decoration: none;
   color: var(--blackish);
}
.link-esquerda::after{
    content: " ";
    height: 5px;
    width: 0px;
    display: block;
    background-color: var(--blackish);
    transition: width .5s ease;
}
.link-esquerda:hover::after{
    width: 100%;
    
}

.link-direita{
    text-align: right;
}
.link-direita::after{
    display:block;
    content: '';
    border-bottom: solid 5px var(--blackish);  
    transform: scaleX(0);  
    transition: transform .5s ease-in-out;
}

.link-direita:after { 
    transform-origin:   0% 50%; 
}
.link-direita:hover:after { 
    transform: scaleX(1); transform-origin: 100% 50%; 
}
/***
 *                                                                                                   
 *     ###### #    # ###### #    # #####  #       ####   ####     #       ####  #####   ####   ####  
 *     #       #  #  #      ##  ## #    # #      #    # #         #      #    # #    # #    # #      
 *     #####    ##   #####  # ## # #    # #      #    #  ####     #      #    # #####  #    #  ####  
 *     #        ##   #      #    # #####  #      #    #      #    #      #    # #    # #    #      # 
 *     #       #  #  #      #    # #      #      #    # #    #    #      #    # #    # #    # #    # 
 *     ###### #    # ###### #    # #      ######  ####   ####     ######  ####  #####   ####   ####  
 *                                                                                                   
 */

.lobos-exemplo {

    background-color: var(--white);
    width: 100%;
    
    

}
.centralizando-exemplo-lobinho {

    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  
}
.container-descricao-lobinhos {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
   

}
.container-texto {
    text-align: left;
    max-width: 500px;
    padding: 0 20px;
    word-wrap: break-word;

}

.container-foto img{
    margin: 0 100px;
    max-width: 300px;
    width: 300;
    height: 200px;
    background-size:contain;
    margin-bottom: 2rem;
}
.foto-lobo {

   background-color: var(--darkblue);
   box-shadow:  -1.5rem  -1.5rem  var(--darkblue),-1.5rem -1.5rem 0 5px  var(--blackish) ;
}
.foto-lobo-dir {

    background-color: var(--darkblue);
    box-shadow:  1.5rem  -1.5rem 0 0  var(--darkblue),1.5rem -1.5rem 0 5px  var(--blackish) ;
 }

.container-descricao-lobinhos-par {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse; 
    margin-bottom: 3rem;
    text-align:right;

}

.lobos-exemplo h2 { 

    color: var(--yellow-botton);
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.nome-lobo {

    font-weight: 700;
    color: black;
    font-size: 2rem;
    margin-bottom: .5rem;

}
.idade-lobo {

    font-weight: 300;
    color: black;
    font-size: 1.25rem;
    margin-bottom: 2rem;

}
.descricao-lobo {

    font-weight: 400;
    color: black;
    font-size: 1.5rem;
}

/***
 *    '########::'#######:::'#######::'########:'########:'########::
 *     ##.....::'##.... ##:'##.... ##:... ##..:: ##.....:: ##.... ##:
 *     ##::::::: ##:::: ##: ##:::: ##:::: ##:::: ##::::::: ##:::: ##:
 *     ######::: ##:::: ##: ##:::: ##:::: ##:::: ######::: ########::
 *     ##...:::: ##:::: ##: ##:::: ##:::: ##:::: ##...:::: ##.. ##:::
 *     ##::::::: ##:::: ##: ##:::: ##:::: ##:::: ##::::::: ##::. ##::
 *     ##:::::::. #######::. #######::::: ##:::: ########: ##:::. ##:
 *    ..:::::::::.......::::.......::::::..:::::........::..:::::..::
 */

 footer::before{
     contain: " ";
     display: block;
     width: 100%;
     background: rgb(222,185,89);
     background: linear-gradient(90deg, rgba(222,185,89,1) 0%, rgba(44,86,128,1) 60%);
     height: 1rem;
     
 }
footer section{
    padding: 4rem 5rem;
    background-color: var(--blackish);
    /* padding: 3rem 0rem 3rem 10rem; */
    display: flex;
   
    align-items: center;
    color: var(--white);

}
.links-footer{
    width: 100%;
   
    margin-left: 4rem;
  
}
.left-side-footer{

    display: flex;
    width: 70%;
    justify-content: space-between;

}
footer h3{
    margin-left: 1rem;
}
.conjunto-icone-texto{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
   
 
}
.conjunto-icone-texto img {
  
    width: 20px;
    height: 20px;
 

}
.left-side-footer div{
    margin-bottom: .5rem;
}
.button-quem-somos-nos{
    margin-top: .5rem;
    background-color: var(--yellow-botton);
    font-size: 1.25rem; 
    font-weight: 700;
    width: 10rem;
    height: 2.5rem;
    box-shadow: none;
}
.button-quem-somos-nos:hover{
    background-color: var(--blackish);
    color: var(--yellow-botton);

}
.right-side-footer{
    width: 30%;
    padding-left: 6rem;
    display: flex;
    align-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.right-side-footer h3{
    margin-bottom: 1rem;
}

@media only screen and (max-width:960px){
 
    footer section{
        flex-wrap: wrap;
        text-align: center;
        padding: 3rem 10px;
        justify-content: center;
    }
    .links-footer{
        margin-left: 0;
        padding: 0 10px;
        /* .left-side-footer div */
    }
    .left-side-footer{
        flex-wrap: wrap;
        justify-content: center;
    }
    .conjunto-icone-texto{
        padding: 0 10px;


    }
    .left-side-footer h3{
      
        margin: 20px 10px;
        text-align: justify;
    }
    .right-side-footer{
        padding: 0 10px;
       justify-content: center;
    }
}