main {
    width: 70%;
    margin: 0 auto;
}
h1 {
    width: 40%;
    margin: 5rem auto;
    font-size: 3rem;
    font-weight: 700;
}
section {
    
    display: flex;
    justify-content: space-between;
   
}
p {
    margin-left: 3rem;
}
.botoes-adotar-excluir {
    display: flex;
}
button {
    border: none;
    height: 3.5rem;
    width: 8.5rem;
    margin: 1.5rem 2rem;
}
.adotar{
    background-color: var(--green);
    color: var(--white);
}
.excluir{
    background-color: var(--red);
    color: var(--white);
}
.adotar:hover{
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
}
.excluir:hover{
    background-color: var(--white);
    color: var(--red);
    border: 1px solid var(--red);
}